# Ignore all log files
*.log

# Ignore the build directory
/build/

# Ignore the node_modules directory
backend/node_modules/
frontend/node_modules/

# Ignore all .env files
*.env

# Ignore a specific file
config.ini

backend/old dbs

# Don't ignore important.log within a directory where other log files are ignored
!important.log

.hintrc

.DS_Store

# Compiled output
dist/
out/
*.tsbuildinfo

# Package managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# OS-specific
Thumbs.db

# Python or other backend languages (if relevant)
__pycache__/
*.pyc


